body {
    background-color: #faf4ec;
    font-family: Georgia, serif;
    padding: 30px;
    color: #333;
}


main {
    column-count: 3;
    column-gap: 40px;
    text-align: justify;
}


.headline {
    column-span: all;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #444;
}


.float-img {
    float: left;
    margin-right: 15px;
    border-radius: 8px;
}