body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2f475f;
    font-family: 'Segoe UI', sans-serif;
}


.contact-container {
    width: 100%;
    max-width: 400px;
}


.contact-form {
    background: rgb(94, 88, 88);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #8e6a6a;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}


input:focus,
textarea:focus {
    border-color: #0077cc;
    outline: none;
}


button {
    width: 100%;
    background-color: #0077cc;
    color: rgb(27, 22, 22);
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #005fa3;
}