* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

.header {
    background: #0b6efd;
    padding: 1rem
}

.nav {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 600
}

.main {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    flex: 1;
    justify-content: center;
    align-items: center
}

.box {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .06);
    width: 260px;
    text-align: center;
    transition: transform .25s;
}

.box:hover {
    transform: rotate(2deg)
}

.footer {
    background: #f7f7f7;
    text-align: center;
    padding: 1rem
}

/* Responsive */
@media (max-width:800px) {
    .main {
        flex-direction: column;
        padding: 1rem
    }

    .box {
        width: 100%;
        max-width: 460px
    }
}