body {
font-family: Arial, sans-serif;
background-color: #a74e4e;
margin: 0;
padding: 20px;
text-align: center;
}


.gallery {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
justify-content: center;
}


.photo {
position: relative;
overflow: hidden;
border-radius: 12px;
box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.photo img {
width: 100%;
transition: transform 0.4s ease;
border-radius: 12px;
}


.photo:hover img {
transform: scale(1.1);
}


.caption {
position: absolute;
bottom: 0;
background: rgba(71, 35, 35, 0.6);
color: white;
width: 100%;
opacity: 0;
transition: opacity 0.3s ease;
padding: 10px 0;
}


.photo:hover .caption {
opacity: 1;
}